.header {
    background: $off-black;
    color: #fff;
    margin-bottom: $medium-size;
    padding: $medium-size 0;
    
    &__title {
        font-size: $large-size;
        margin: 0;
    }

    &__subtitle {
        font-size: $medium-size;
        color: $off-white;
        font-weight: 500;
        margin: 0;
    }

    @media (min-width: $desktop-breakpoint) {
        .header {
            margin-bottom: $xtralarge-size;
        }
    }
}